.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(107, 5, 5);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  /* font-family:  */
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: url(#p-fire);
  stroke: #330000;
  stroke-width: 8;
  stroke-opacity: 0.5;
}

/* Other styles */
html,
body {
  height: 100%;
}

body {
  background: #000;
  background-size: 0.2em 100%;
  font: 40px Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

text {
  font-size: 85px;
}

h2 {
  color: white;
  font-size: 33px;
}

.eggOption {
  height: 190px;
}

.eggOption:hover {
  border: 10px;
  border-style: red;
  height: 200px;
}

.eggOptionContainer {
  width: 33%;
}

.dragon-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 790px;
  margin: 0 auto;
}

.selectedDragonContainer {
  height: 240px;
}

.eggSelected {
  height: 220px;
  animation: pulse 1.5s ease-out 0s alternate infinite none running;
}

@keyframes pulse {
  0% {
    height: 218px;
  }
  50% {
    height: 222px;
  }
  100% {
    height: 226px;
  }
}

.wobble {
  animation: wobble 0.5s ease-out 0s alternate infinite none running;
}

@keyframes wobble {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
